.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.seat{
  display: inline-block;
  border: 1px solid grey;
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
}
.seat.void{
  visibility: hidden;
}

.seat.available{
  background: white;
}
.seat.booked{
  background: grey;
}

.seat.selected{
  background: green;
}

.App-link {
  color: #61dafb;
}

.hall {
  width: 50%;

}
.no-of-seats {
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
